<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean name="contactFactory" class="com.guzichenko.models.ContactFactory">
        <constructor-arg name="name" value="name"/>
        <constructor-arg name="age" value="age"/>
        <constructor-arg name="phone" value="phone"/>
    </bean>

    <bean name="contactService" class="com.guzichenko.service.impl.ContactServiceImpl"/>

    <bean name="repository" class="com.guzichenko.repository.impl.ContactRepositoryImpl"/>




</beans>