<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="contactFactory" class="com.guzichenko.models.ContactFactory">
        <constructor-arg name="name" value="name"/>
        <constructor-arg name="age" value="age"/>
    </bean>

    <bean class="com.guzichenko.service.impl.ContactServiceImpl"/>

    <bean class="com.guzichenko.repository.impl.ContactRepositoryImpl"/>




</beans>